:root {
  --color-blue-1: #1a73e8;
  --color-blue-2: rgba(100, 148, 237, 0.438);
  --color-blue-3: rgba(100, 148, 237, 0.7);
  --color-blue-4: rgba(65, 105, 225, 0.6);

  --color-gray-1: rgba(17, 17, 17, 0.2);
  --color-gray-2: rgb(91, 104, 117);

  --color-subtitle: var(--color-gray-2);
  --color-link: var(--color-blue-1);
  --color-table-header: var(--color-blue-2);
  --color-table-header-hover: var(--color-blue-3);
  --color-table-header-active: var(--color-blue-4);
  --color-nav-hover: var(--color-gray-1);

  --box-shadow-default: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

gmp-map {
  display: block;
  height: 400px;
  margin: 2vh 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul#top-level {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul#top-level,
nav ul#cities-list {
  text-transform: uppercase;
  font-family: sans-serif;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav li {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1.25px;
}

nav li:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: var(--color-nav-hover);
}

nav li.active {
  text-decoration: underline;
  background-color: var(--color-nav-hover);
}

.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.map-container .map-header {
  display: flex;
}

span.map-link {
  padding: 0 0.5vw;
  color: var(--color-link);
  text-decoration: none;
  font-weight: 500;
}

span.map-link:focus-visible {
  outline: 3px solid goldenrod;
  border-radius: 5px;
  outline-offset: 2px;
}

span.map-link.active:focus-visible {
  outline: 3px solid var(--color-link);
}

span.map-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

span.map-link.active,
span.map-link:active {
  color: goldenrod;
}

td.location-cell > i {
  font-size: 16px;
  color: firebrick;
}

.map-close-btn {
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}

.map-close-btn:hover {
  cursor: pointer;
}

.map-close-btn:active {
  filter: invert();
}

.map-close-btn:focus-visible {
  outline: 3px solid firebrick;
  border-radius: 50%;
  outline-offset: 2px;
}

td.location-cell {
  display: flex;
  align-items: center;
  position: relative;
}

h1 {
  display: inline-block;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  font-size: 1.25em;
  margin-right: 2vw;
}

subtitle {
  font-family: sans-serif;
  font-size: 0.8em;
  color: var(--color-subtitle);
  padding: 0 4vw;
  font-style: italic;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1vh 0;
  border-bottom: 1px solid black;
  width: clamp(600px, 95vw, 1500px);
}

.table-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #333333;
  padding: 1vh 2vw;
  margin: 1vh 1vw;
  border-radius: 8px;
  width: clamp(600px, 90vw, 1300px);
  box-shadow: var(--box-shadow-default);
}

.page-content {
  display: flex;
  flex-direction: column;
}

.table-header {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 0vh 1vw;
  border-radius: 5px;
}

.table-header:hover {
  cursor: pointer;
  background-color: var(--color-gray-1);
  outline-offset: 2px;
  box-shadow: var(--box-shadow-default);
}

.table-header:active {
  background-color: var(--color-gray-1);
  outline: 2px solid var(--color-gray-2);
  outline-offset: 2px;
  box-shadow: none;
}

.table-content {
  /* border: 1px solid black; */
  display: none;
  width: 100%;
}

.table-header.active + .table-content {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.map-row {
  background-color: transparent;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

thead th {
  background-color: var(--color-table-header);
  font-weight: bold;
  padding: 1vh 2vw;
}

thead th.sortable {
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  position: relative;
}

thead th.sortable:hover {
  background-color: var(--color-table-header-hover);
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

thead th.sortable.active-sort {
  background-color: var(--color-table-header-active);
}

.sort-icon {
  font-size: 0.8em;
  color: #333;
}

td {
  font-size: 11pt;
  padding: 0.25vh 0.75vw;
}

.asset-serial {
  font-family: monospace;
  width: 150px;
  text-align: center;
}

img.marker-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

div.marker-text {
  background-color: rgba(255, 255, 255, 0.75);
  border: 5px double firebrick;
  border-radius: 50%;
  padding: 2px 6px;

  position: absolute;
  top: 100%;
  left: 50%;

  height: 50px;
  width: 50px;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);

  font-size: 0.75rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
